# Lab Session

## <font color='blue'> Table Of Contents </font>
- Problem Statement 
- Load required libraries
- Connect to DB using mysql-connector-python package
- Create database named `e_commerce`
- Create tables and insert data into tables as specified in the question
- Read all the questions and write sql queries to meet the objective

## <font color='blue'> Problem Statement </font>
###  An E-commerce website manages its data in the form of various tables.
You need to create a Database called `e_commerce` and various tables in it. The tables needed and attributes which need to be in every table are given before hand. All you have to do is create tables with data in it and answer some of the questions that follows.

### e_commerce Schema:

![e_commerce%20_schema.png](attachment:e_commerce%20_schema.png)

### Load Required Libraries

In [1]:
import mysql.connector
import pandas as pd

### Connect to DB using Mysql-connector-python package

In [2]:
## Code for connecting to Mysql server and closing the connection
import mysql.connector
  
connection = mysql.connector.connect(host ="localhost",
                                    user ="root",
                                    passwd ="hM1hM2@123")

### You are required to create a database named 'e_commerce'

In [3]:
## creating a cursor object
cursorObject = connection.cursor()
 
## creating database
cursorObject.execute("CREATE DATABASE e_commerce")

### Q1. Create tables for supplier, customer, category, product, productDetails, order, rating to store the data for the E-commerce with the schema definition given below.


- **`supplier`**(SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10))


- **`customer`** (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID))


- **`category`** (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID))


- **`product`** (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID))


- **`product_details`** (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL,
  PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID))
  
  
- **`order`** (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID))


- **`rating`** (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID))

In [6]:
## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

## Solution for Q1: Creating tables 

table_creation_query = """CREATE TABLE IF NOT EXISTS supplier (SUPP_ID int primary key, SUPP_NAME varchar(50), SUPP_CITY varchar(50), SUPP_PHONE varchar(10));

CREATE TABLE IF NOT EXISTS customer (CUS_ID INT NOT NULL, CUS_NAME VARCHAR(20) NULL DEFAULT NULL, CUS_PHONE VARCHAR(10), CUS_CITY varchar(30) ,CUS_GENDER CHAR,PRIMARY KEY (CUS_ID));

CREATE TABLE IF NOT EXISTS category (CAT_ID INT NOT NULL, CAT_NAME VARCHAR(20) NULL DEFAULT NULL,PRIMARY KEY (CAT_ID));

CREATE TABLE IF NOT EXISTS product (PRO_ID INT NOT NULL, PRO_NAME VARCHAR(20) NULL DEFAULT NULL, PRO_DESC VARCHAR(60) NULL DEFAULT NULL, CAT_ID INT NOT NULL,PRIMARY KEY (PRO_ID),FOREIGN KEY (CAT_ID) REFERENCES CATEGORY (CAT_ID));

CREATE TABLE IF NOT EXISTS product_details (PROD_ID INT NOT NULL, PRO_ID INT NOT NULL, SUPP_ID INT NOT NULL, PROD_PRICE INT NOT NULL, PRIMARY KEY (PROD_ID),FOREIGN KEY (PRO_ID) REFERENCES PRODUCT (PRO_ID), FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER(SUPP_ID));

CREATE TABLE IF NOT EXISTS orders (ORD_ID INT NOT NULL, ORD_AMOUNT INT NOT NULL, ORD_DATE DATE, CUS_ID INT NOT NULL, PROD_ID INT NOT NULL,PRIMARY KEY (ORD_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID),FOREIGN KEY (PROD_ID) REFERENCES PRODUCT_DETAILS(PROD_ID));

CREATE TABLE IF NOT EXISTS rating (RAT_ID INT NOT NULL, CUS_ID INT NOT NULL, SUPP_ID INT NOT NULL, RAT_RATSTARS INT NOT NULL,PRIMARY KEY (RAT_ID),FOREIGN KEY (SUPP_ID) REFERENCES SUPPLIER (SUPP_ID),FOREIGN KEY (CUS_ID) REFERENCES CUSTOMER(CUS_ID));"""
                  
# Executing the query
cursorObject.execute(table_creation_query)

### Q2. Insert the following data in the table created above
#### `Note:` If you are getting any error while inserting the data into tables, Kindly close the connection and reconnect

#### Table:  supplier
| SUPP_ID | SUPP_NAME | SUPP_CITY | SUPP_PHONE |
| --- | --- | --- | --- | 
| 1 | Rajesh Retails | Delhi | 1234567890 |
| 2 | Appario Ltd. | Mumbai | 258963147032 | 
| 3 | Knome products | Bangalore | 9785462315 |
| 4 | Bansal Retails | Kochi | 8975463285 |
| 5 | Mittal Ltd. | Lucknow | 7898456532 |

In [8]:
# Inserting data into "supplier" table

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

# Inserting data into "supplier" table
insert_supplier_details = """INSERT INTO supplier (SUPP_ID,SUPP_NAME, SUPP_CITY, SUPP_PHONE) 
                       VALUES (%s, %s, %s, %s)"""

val = [(1,"Rajesh Retails","Delhi",'1234567890'),(2,"Appario Ltd.","Mumbai",'2589631470'),
       (3,"Knome products","Banglore",'9785462315'),(4,"Bansal Retails","Kochi",'8975463285'),
       (5,"Mittal Ltd.","Lucknow",'7898456532')]
   
cursorObject.executemany(insert_supplier_details, val)
connection.commit()

#### Table:  customer
| CUS_ID | CUS_NAME | SUPP_PHONE | CUS_CITY | CUS_GENDER
| --- | --- | --- | --- | --- |
| 1 | AAKASH | 9999999999 | DELHI | M |
| 2 | AMAN | 9785463215 | NOIDA | M |
| 3 | NEHA | 9999999998 | MUMBAI | F |
| 4 | MEGHA | 9994562399 | KOLKATA | F |
| 5 | PULKIT | 7895999999 | LUCKNOW | M |

In [9]:
# insert into "customer" table
## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

# Inserting data into "customer" table
insert_customer_details = """INSERT INTO customer (CUS_ID,CUS_NAME,CUS_PHONE,CUS_CITY,CUS_GENDER) 
                       VALUES (%s, %s, %s, %s,%s)"""

val = [(1,"AAKASH",'9999999999',"DELHI",'M'),(2,"AMAN",'9785463215',"NOIDA",'M'),
       (3,"NEHA",'9999999999',"MUMBAI",'F'),(4,"MEGHA",'9994562399',"KOLKATA",'F'),
       (5,"PULKIT",'7895999999',"LUCKNOW",'M')]
   
cursorObject.executemany(insert_customer_details, val)
connection.commit()

#### Table:  category
| CAT_ID | CAT_NAME | 
| --- | --- |  
| 1 | BOOKS |
| 2 | GAMES |  
| 3 | GROCERIES | 
| 4 | ELECTRONICS | 
| 5 | CLOTHES |

In [11]:
# insert into "category" table

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

# Inserting data into "category" table
insert_category_details = """INSERT INTO category (CAT_ID,CAT_NAME) 
                       VALUES (%s, %s)"""

val = [(1,"BOOKS"),(2,"GAMES"),(3,"GROCERIES"),(4,"ELECTRONICS"),
       (5,"CLOTHES")]
   
cursorObject.executemany(insert_category_details, val)
connection.commit()

#### Table:  product
| PRO_ID | PRO_NAME | PRO_DESC | CAT_ID |
| --- | --- | --- | --- | 
| 1 | GTA V | DFJDJFDJFDJFDJFJF | 2 |
| 2 | TSHIRT | DFDFJDFJDKFD | 5 | 
| 3 | ROG LAPTOP | DFNTTNTNTERND | 4 |
| 4 | OATS | REURENTBTOTH | 3 |
| 5 | HARRY POTTER | NBEMCTHTJTH | 1 |

In [12]:
# insert into "product" table

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

# Inserting data into "product" table
insert_product_details = """INSERT INTO product (PRO_ID,PRO_NAME,PRO_DESC,CAT_ID) 
                       VALUES (%s, %s, %s, %s)"""

val = [(1,"GTA V","Windows 7 and above with i5 processor and 8GB RAM",2),
       (2,"TSHIRT","SIZE-L with Black, Blue and White variations",5),
       (3,"ROG LAPTOP","Windows 10 with 15inch screen, i7 processor, 1TB SSD",4),
       (4,"OATS","Highly Nutritious from Nestle",3),
       (5,"HARRY POTTER","Best Collection of all time by J.K Rowling",1)]
   
cursorObject.executemany(insert_product_details, val)
connection.commit()

#### Table:  product_details
| PROD_ID | PRO_ID | SUPP_ID | PROD_PRICE |
| --- | --- | --- | --- | 
| 1 | 1 | 2 | 1500 |
| 2 | 3 | 5 | 30000 | 
| 3 | 5 | 1 | 3000 |
| 4 | 2 | 3 | 2500 |
| 5 | 4 | 1 | 1000 |

In [13]:
# insert into "product_details" table


## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

# Inserting data into "product_details" table
insert_product_supplier_mapping_details = """INSERT INTO product_details (PROD_ID,PRO_ID,SUPP_ID,PROD_PRICE) 
                       VALUES (%s, %s, %s, %s)"""

val = [(1,1,2,1500),
       (2,3,5,30000),
       (3,5,1,3000),
       (4,2,3,2500),
       (5,4,1,1000)]
   
cursorObject.executemany(insert_product_supplier_mapping_details, val)
connection.commit()

#### Table:  orders
| ORD_ID | ORD_AMOUNT | ORD_DATE | CUS_ID | PROD_ID
| --- | --- | --- | --- | --- |
| 20 | 1500 | 2021-10-12 | 3 | 5 |
| 25 | 30500 | 2021-09-16 | 5 | 2 |
| 26 | 2000 | 2021-10-05 | 1 | 1 |
| 30 | 3500 | 2021-08-16 | 4 | 3 |
| 50 | 2000 | 2021-10-06 | 2 | 1 |

In [14]:
# insert into "orders" table


## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

# Inserting data into "orders" table
insert_orders_details = """INSERT INTO orders (ORD_ID,ORD_AMOUNT,ORD_DATE,CUS_ID,PROD_ID) 
                       VALUES (%s, %s, %s, %s,%s)"""

val = [(20,1500,"2021-10-12",3,5),
(25,30500,"2021-09-16",5,2),
(26,2000,"2021-10-05",1,1),
(30,3500,"2021-08-16",4,3),
(50,2000,"2021-10-06",2,1)]
   
cursorObject.executemany(insert_orders_details, val)
connection.commit()

#### Table: rating
| RAT_ID | CUS_ID | SUPP_ID | RAT_RATSTARS |
| --- | --- | --- | --- | 
| 1 | 2 | 2 | 4 |
| 2 | 3 | 4 | 3 | 
| 3 | 5 | 1 | 5 |
| 4 | 1 | 3 | 2 |
| 5 | 4 | 5 | 4 |

In [16]:
# insert into "rating" table

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

# Inserting data into "rating" table
insert_rating_details = """INSERT INTO rating (RAT_ID,CUS_ID,SUPP_ID,RAT_RATSTARS) 
                       VALUES (%s, %s, %s, %s)"""

val = [(1,2,2,4),
(2,3,4,3),
(3,5,1,5),
(4,1,3,2),
(5,4,5,4)]
   
cursorObject.executemany(insert_rating_details, val)
connection.commit()

### Q3) Display the number of the customer group by their genders who have placed any order of amount greater than or equal to Rs.3000.

In [26]:
## Solution for Q3

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

subquery = """select count(t2.cus_gender) as NoOfCustomers, t2.cus_gender from 
(select t1.cus_id, t1.cus_gender, t1.ord_amount, t1.cus_name from 
(select orders.*, customer.cus_gender, customer.cus_name from orders inner join customer where orders.cus_id=customer.cus_id having orders.ord_amount>=3000) as t1 group by t1.cus_id) 
as t2 group by t2.cus_gender;) """

cursorObject.execute(subquery)
 
output = cursorObject.fetchall()
   
for x in output:
    print(x)

(1, 'M')
(1, 'F')

### Q4) Display all the order along with product name ordered by a customer having Customer_Id=2;

In [27]:
## Solution for Q4

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

subquery = """select product.pro_name,orders.* from orders, product_details, product 
where orders.cus_id=2 
and orders.PROD_ID=product_details.PROD_ID 
and product_details.pro_id=product.pro_id;)"""

cursorObject.execute(subquery)
 
output = cursorObject.fetchall()
   
for x in output:
    print(x)

('GTA V', 50, 2000, datetime.date(2021, 10, 6), 2, 1)

### Q5) Display the Supplier details who can supply more than one product.

In [28]:
## Solution for Q5

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

subquery = """select supplier.* from supplier where supplier.supp_id in 
(select supp_id from product_details group by supp_id having 
count(supp_id)>1) 
group by supplier.supp_id;)"""

cursorObject.execute(subquery)
 
output = cursorObject.fetchall()
   
for x in output:
    print(x)

(1, 'Rajesh Retails', 'Delhi', '1234567890')

### Q6) Find the category of the product whose order amount is minimum.

In [30]:
## Solution for Q6

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

subquery = """select category.cat_id,category.cat_name, min(t3.min_price) as Min_Price from category inner join
(select product.cat_id, product.pro_name, t2.* from product inner join 
(select pro_id, min(prod_price) as Min_Price from product_details group by pro_id) 
as t2 where t2.pro_id = product.pro_id)
as t3 where t3.cat_id = category.cat_id group by t3.cat_id;)"""

cursorObject.execute(subquery)
 
output = cursorObject.fetchall()
   
for x in output:
    print(x)

(2, 'GAMES', 1500)
(5, 'CLOTHES', 2500)
(4, 'ELECTRONICS', 30000)
(3, 'GROCERIES', 1000)
(1, 'BOOKS', 3000)

### Q7) Display the Id and Name of the Product ordered after “2021-10-05”.

In [31]:
## Solution for Q7

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

subquery = """select product.pro_id,product.pro_name from orders 
inner join product_details on product_details.PROD_ID=orders.prod_id 
inner join product on product.pro_id=product_details.pro_id 
where orders.ord_date>"2021-10-05";)"""

cursorObject.execute(subquery)
 
output = cursorObject.fetchall()
   
for x in output:
    print(x)

(4, 'OATS')
(1, 'GTA V')

### Q8) Print the top 3 supplier name and id and rating on the basis of their rating along with the customer name who has given the rating.

In [34]:
## Solution for Q8

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

subquery = """select s.SUPP_NAME, c.CUS_NAME, r.RAT_RATSTARS
from rating r
LEFT JOIN supplier s ON s.SUPP_ID = r.SUPP_ID
LEFT JOIN customer c ON c.CUS_ID = r.CUS_ID
ORDER BY r.RAT_RATSTARS DESC limit 3;)"""

cursorObject.execute(subquery)
 
output = cursorObject.fetchall()
   
for x in output:
    print(x)

('Rajesh Retails', 'PULKIT', 5)
('Appario Ltd.', 'AMAN', 4)
('Mittal Ltd.', 'MEGHA', 4)

### Q9) Display customer name and gender whose names start or end with character 'A'.

In [32]:
## Solution for Q9

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

subquery = """select customer.cus_name,customer.cus_gender from customer 
where customer.cus_name like 'A%' or customer.cus_name like '%A';)"""

cursorObject.execute(subquery)
 
output = cursorObject.fetchall()
   
for x in output:
    print(x)

('AAKASH', 'M')
('AMAN', 'M')
('NEHA', 'F')
('MEGHA', 'F')

### Q10) Display the total order amount of the male customers.

In [33]:
## Solution for Q10

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

subquery = """select SUM(ORD_Amount) As TotalAmt from orders o
LEFT JOIN customer c ON c.cus_id = o.cus_id
where c.CUS_GENDER = 'M';)"""

cursorObject.execute(subquery)
 
output = cursorObject.fetchall()
   
for x in output:
    print(x)

(Decimal('34500'),)

### Q11) Display all the Customers left outer join with  the orders

In [35]:
## Solution for Q11

## Again connect to the Mysql server and while connecting Choose 'e_commerce' database

connection = mysql.connector.connect(host ="localhost",
                                     user ="root",
                                     passwd ="hM1hM2@123",
                                     database = 'e_commerce')
 
## creating a cursor object
cursorObject = connection.cursor()

subquery = """select *  from customer C
LEFT JOIN orders o ON c.cus_id = o.cus_id;)"""

cursorObject.execute(subquery)
 
output = cursorObject.fetchall()
   
for x in output:
    print(x)

(1, 'AAKASH', '9999999999', 'DELHI', 'M', 26, 2000, datetime.date(2021, 10, 5), 1, 1)
(2, 'AMAN', '9785463215', 'NOIDA', 'M', 50, 2000, datetime.date(2021, 10, 6), 2, 1)
(3, 'NEHA', '9999999999', 'MUMBAI', 'F', 20, 1500, datetime.date(2021, 10, 12), 3, 5)
(4, 'MEGHA', '9994562399', 'KOLKATA', 'F', 30, 3500, datetime.date(2021, 8, 16), 4, 3)
(5, 'PULKIT', '7895999999', 'LUCKNOW', 'M', 25, 30500, datetime.date(2021, 9, 16), 5, 2)

**NOTE:** Always close an open connection once you are done with the database operations

## Happy Learning:)